/* page2.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige; /* Change the background color to beige */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-details {
    padding: 20px;
    border: 2px solid #ccc; /* Add a border to the product details */
    border-radius: 8px;
    background-color: white; /* Set background color for the product details */
}

.product-details p {
    line-height: 1.5;
}

.product-image img {
    border: 2px solid #ccc; /* Add a border to the product image */
    border-radius: 8px;
    background-color: white; /* Set background color for the product image */
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
}

ul li {
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #45a049;
}
#buyNotification {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
